version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: tutorialsdb
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: mean-backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      MONGO_URL: mongodb://mongo:27017/tutorialsdb
    depends_on:
      - mongodb
    networks:
      - mean-network

  frontend:
    build: ./frontend
    container_name: mean-frontend
    restart: always
    ports:
      - "8081:8081"
    depends_on:
      - backend
    networks:
      - mean-network

networks:
  mean-network:

volumes:
  mongo_data:
